section {
    font-size: 150%;
    margin: 2em 2em auto 2em;    
}

h1 {
    margin-left: 10px;
    margin-top: auto;
    text-align: center;
}

.Container {
    min-height: 80vh;
    background-color: rgba(27, 13, 102, 0.808);
    color: wheat;
}